{% extends 'layout.html' %}
{% block titulo %}
   Programa
{% endblock titulo %}

{% block pagina %}
    {{ accion }} Programa
{% endblock pagina %}

{% block contenido %}
    <form id="programa">
        {% csrf_token %}
        {{ programaForm.as_p }}

        <div class="mb-4">
            <button id="enviar" class="btn btn-primary" type="button">{{ boton }}</button>
            <button class="btn btn-secondary" type="reset">Cancelar</button>
        </div>
    </form>
{% endblock contenido %}

{% block scripts %}
    <script>
        console.log(form)
       $(document).ready(function (){
           $('#enviar').click(function(event){
                $.ajax({                    
                    type: "PUT",
                    url: "/api/programa/{{id}}/",             
                    data: $("#programa").serialize(),
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader ("Authorization:"+ "Token " + "{{ token }}");
                    },
                    success: function(data){
                        alert("Los datos fueron almacenados correctamente");
                    },
                    error: function(error){
                        alert("Verifique los datos ingresados");
                    }
                });
           });
       }); 
    </script>    
{% endblock scripts %}  
